<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post"
                      th:action="@{/user/add}"
                      th:object="${user}">
                    <div class="form-group">
                        <label th:for="*{email}">Email address</label>
                        <input th:field="*{email}" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                        <small th:if="${ #fields.hasErrors('email') }"
                               th:text="${#fields.errors('email')}"
                               id="emailHelp"
                               class="form-text text-danger">Please fill your email</small>
                    </div>
                    <div class="form-group">
                        <label th:for="*{password}">Password</label>
                        <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <small th:if="${ #fields.hasErrors('password') }"
                               th:text="${#fields.errors('password')}"
                               id="passwordHelp"
                               class="form-text text-danger">Please fill your password</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>