<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
    <div th:utext="${email}">
        Email Block
    </div>
    <div th:utext="${image}">

    </div>
    <h1 th:text="'ID = ' + ${id} + '-KSHRD'">ID</h1>
    <h1 th:text="'USERNAME = ' + ${username}">Username</h1>
    <!--<h1 th:text="'ID = __${id}__-KSHRD'"></h1>-->
    <img th:src="${imageLink}" alt="">
</body>
</html>